﻿body {
    padding-top: 50px;
    padding-bottom: 20px;
    background: #fff;
    background-size: 100% 100%;
}


h1, h2, p, label {
    color: rgb(54, 54, 54);
}

h1, h2 {
    margin-top: 30px;
    margin-bottom: 40px;
}

p:nth-child(even) {
    display: inline-block;
    background-color: #088093;
    color: #fff;
    text-align: left;
}

.card-header {
    background: #17a2b8;
}

.body-content {
    padding-left: 15px;
    padding-right: 15px;
}


.dl-horizontal dt {
    white-space: normal;
}

input,
select,
textarea {
    max-width: 280px;
}


label {
    font-weight: bold;
}


.card {
    display: inline-block;
    border-radius: 0;
    border: none;
    margin: 3rem 1rem 2rem 1rem;
    text-decoration: none;
    overflow: hidden;
    box-shadow: 0 0 2rem -1rem rgba(0,0,0,0.5);
    transition: transform 0.1s ease-in-out, box-shadow 0.1s;
}

    .card:hover {
        transform: translateY(-0.5rem) scale(1.0125);
        box-shadow: 0 0.5em 3rem -1rem rgba(0,0,0,0.5);
        border-radius: 0;
    }

.card-img-top {
    height: 90%;
    max-height: 15rem;
    width: auto;
    align-self: center;
    border-radius: 0;
}

.imageContainer {
    width: 600px;
    height: 450px;
    overflow: hidden;
    border-radius: 0;
}

.imageHolder {
    height: 100%;
    display: flex;
    align-items: center;
    border-radius: 0;
}

.viewActivityImage {
    width: auto;
    height: 450px;
    align-self: center;
    border-radius: 0;
}

.navbar {
    box-shadow: 0 0 7px 0 rgba(0,0,0,0.5);
    background: #ffc107;
}

.nav-link:hover, .nav-link:focus {
    text-decoration: underline;
    font-weight: bold;
}
