﻿@model IEnumerable<Assignment_1_nguty317.Models.Activity>

@{
    ViewBag.Title = "Activity List 3";
    var i = Model.Count();
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<!DOCTYPE html>
<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>@ViewBag.Title</title>
</head>
<body>
    <div class="container">
        <div class="row justify-content-center">
            <div class="col-9">
                <h1 class="text-center">Fun things to do when you're quarantined</h1>
                <br />
                <p>
                    @ViewBag.Message
                </p>
            </div>
        </div>

        <div class="row justify-content-end">
            <div class="col-5">
                <div class="form-inline my-2 my-lg-0">
                    @using (Html.BeginForm(method: FormMethod.Get, actionName: "Index", controllerName: "Activities"))
                    {
                        <div class="form-group">
                            @Html.TextBox("searchText", null, new { @class = "form-control", placeholder = "Search...", style = "margin-right:0" })
                            <input style="margin-right: 10px;" class="btn btn-outline-success my-2 my-sm-0" id="BSearch" type="submit" value="Search" title="You can search by keywords, category or time of the day!" />
                        </div>
                    }
                </div>
            </div>
        </div>

        @if (i == 0)
        {
            <p id="noResult" runat="server" class="text-center"><i>We can't find any results :(</i></p>
        }
        <div class="card-columns">
            @foreach (var item in Model)
            {
                <div class="card" style="width: 20rem;">
                    <a target="_blank" href="~/ViewActivity.aspx?id=@item.activityId" class="stretched-link"></a>
                    <img class="card-img-top" src='@Html.DisplayFor(modelItem => item.imageUrl)'
                         alt='@Html.DisplayFor(modelItem => item.name)' />
                    <h5 class="card-header text-white text-center">
                        @Html.DisplayFor(modelItem => item.name)
                    </h5>

                    <div class="card-body">
                        <p class="card-text">
                            @if (@Html.DisplayFor(modelItem => item.description).ToString().Length > 100)
                            {
                                @(Html.DisplayFor(modelItem => item.description).ToString().Substring(0, 100) + "...")
                            }
                            else
                            {
                                @Html.DisplayFor(modelItem => item.description).ToString()
                            }

                            <hr />
                            <strong>Category: </strong>@Html.DisplayFor(modelItem => item.ActivityCategory.category)
                            <br />
                            <strong>Recommended Time: </strong>@Html.DisplayFor(modelItem => item.Time.time)
                        </p>
                    </div>
                </div>
            }
        </div>



    </div>
</body>
</html>